In [1]:
import pandas as pd
import numpy as np
import random
from datetime import timedelta
pd.set_option('display.max_columns', 100)

In [2]:
# Set random seed for reproducibility
np.random.seed(42)

# Number of records
num_records = 3587

# Generate synthetic student numbers (5-digit numbers)
student_studentnumber = np.random.randint(10000, 99999, num_records)

df = pd.DataFrame({'student_studentnumber': student_studentnumber})
print(df.shape)
df.head()

(3587, 1)

   student_studentnumber
0                  25795
1                  10860
2                  86820
3                  64886
4                  16265

In [3]:
# Create an empty list to store all possible May dates
may_dates = []

# Generate all May dates for each year from 2015 to 2024
for year in range(2015, 2025):  # Loop through years 2015-2024
    may_dates.extend(pd.date_range(start=f"{year}-05-01", end=f"{year}-05-31", freq="D"))

# Convert list to a NumPy array
may_dates = np.array(may_dates)

# Randomly assign each student a graduation date from the May pool
df['high_school_grad_date'] = np.random.choice(may_dates, num_records)

# Print a distribution check to verify that all dates are in May
print(df['high_school_grad_date'].dt.strftime('%Y-%m').value_counts().sort_index())  # Counts per year in May

high_school_grad_date
2015-05    368
2016-05    350
2017-05    366
2018-05    378
2019-05    359
2020-05    364
2021-05    394
2022-05    344
2023-05    333
2024-05    331
Name: count, dtype: int64

In [4]:
# Graduated College (Using given proportions)
df['graduated_college'] = np.random.choice([np.nan, 0, 1], num_records, p=[1700/3587, 1502/3587, 385/3587])
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3587 entries, 0 to 3586
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   student_studentnumber  3587 non-null   int32
 1   high_school_grad_date  3587 non-null   datetime64[ns]
 2   graduated_college      1928 non-null   float64
dtypes: datetime64[ns](1), float64(1), int32(1)
memory usage: 70.2 KB
None

   student_studentnumber high_school_grad_date  graduated_college
0                  25795            2015-05-30                0.0
1                  10860            2021-05-05                0.0
2                  86820            2023-05-12                0.0
3                  64886            2021-05-19                NaN
4                  16265            2016-05-28                NaN

In [5]:
# Extract the year from the high_school_grad_date and assign it as the cohort
df['cohort'] = df['high_school_grad_date'].dt.year

# Print DataFrame info to verify
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3587 entries, 0 to 3586
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   student_studentnumber  3587 non-null   int32
 1   high_school_grad_date  3587 non-null   datetime64[ns]
 2   graduated_college      1928 non-null   float64
 3   cohort                 3587 non-null   int32
dtypes: datetime64[ns](1), float64(1), int32(2)
memory usage: 84.2 KB
None

   student_studentnumber high_school_grad_date  graduated_college  cohort
0                  25795            2015-05-30                0.0    2015
1                  10860            2021-05-05                0.0    2021
2                  86820            2023-05-12                0.0    2023
3                  64886            2021-05-19                NaN    2021
4                  16265            2016-05-28                NaN    2016

In [6]:
# CE Student Distribution
df['ce_student'] = np.random.choice([0, 1], num_records, p=[2561/3587, 1026/3587])
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3587 entries, 0 to 3586
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   student_studentnumber  3587 non-null   int32
 1   high_school_grad_date  3587 non-null   datetime64[ns]
 2   graduated_college      1928 non-null   float64
 3   cohort                 3587 non-null   int32
 4   ce_student             3587 non-null   int32
dtypes: datetime64[ns](1), float64(1), int32(3)
memory usage: 98.2 KB
None

,student_studentnumber,high_school_grad_date,graduated_college,cohort,ce_student
0,25795,2015-05-30,0.0,2015,0
1,10860,2021-05-05,0.0,2021,0
2,86820,2023-05-12,0.0,2023,0
3,64886,2021-05-19,NaN,2021,0
4,16265,2016-05-28,NaN,2016,0

In [7]:
# School Names
school_names = ["Highland Ridge High School", "Cedar Valley High School", "Summit Career Academy", "Evergreen Virtual Academy", "Rock Creek Youth Center"]
school_probs = [700, 694, 754, 712, 727]
df['sch_name'] = np.random.choice(school_names, num_records, p=np.array(school_probs) / sum(school_probs))
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3587 entries, 0 to 3586
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   student_studentnumber  3587 non-null   int32
 1   high_school_grad_date  3587 non-null   datetime64[ns]
 2   graduated_college      1928 non-null   float64
 3   cohort                 3587 non-null   int32
 4   ce_student             3587 non-null   int32
 5   sch_name               3587 non-null   object
dtypes: datetime64[ns](1), float64(1), int32(3), object(1)
memory usage: 126.2+ KB
None

,student_studentnumber,high_school_grad_date,graduated_college,cohort,ce_student,sch_name
0,25795,2015-05-30,0.0,2015,0,Rock Creek Youth Center
1,10860,2021-05-05,0.0,2021,0,Rock Creek Youth Center
2,86820,2023-05-12,0.0,2023,0,Evergreen Virtual Academy
3,64886,2021-05-19,NaN,2021,0,Evergreen Virtual Academy
4,16265,2016-05-28,NaN,2016,0,Evergreen Virtual Academy

In [8]:
# Gender Distribution
df['student_gender'] = np.random.choice([1, 0], num_records, p=[1860/3587, 1727/3587])
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3587 entries, 0 to 3586
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   student_studentnumber  3587 non-null   int32
 1   high_school_grad_date  3587 non-null   datetime64[ns]
 2   graduated_college      1928 non-null   float64
 3   cohort                 3587 non-null   int32
 4   ce_student             3587 non-null   int32
 5   sch_name               3587 non-null   object
 6   student_gender         3587 non-null   int32
dtypes: datetime64[ns](1), float64(1), int32(4), object(1)
memory usage: 140.2+ KB
None

,student_studentnumber,high_school_grad_date,graduated_college,cohort,ce_student,sch_name,student_gender
0,25795,2015-05-30,0.0,2015,0,Rock Creek Youth Center,1
1,10860,2021-05-05,0.0,2021,0,Rock Creek Youth Center,1
2,86820,2023-05-12,0.0,2023,0,Evergreen Virtual Academy,1
3,64886,2021-05-19,NaN,2021,0,Evergreen Virtual Academy,0
4,16265,2016-05-28,NaN,2016,0,Evergreen Virtual Academy,1

In [9]:
# Race/Ethnicity Distribution
race_ethnicity = ["Hispanic", "Black or African American", "White", "Two or More Races", "Asian", "Other"]
race_probs = [1736, 814, 622, 243, 107, 65]
df['student_raceethnicity'] = np.random.choice(race_ethnicity, num_records, p=np.array(race_probs) / sum(race_probs))
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3587 entries, 0 to 3586
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   student_studentnumber  3587 non-null   int32
 1   high_school_grad_date  3587 non-null   datetime64[ns]
 2   graduated_college      1928 non-null   float64
 3   cohort                 3587 non-null   int32
 4   ce_student             3587 non-null   int32
 5   sch_name               3587 non-null   object
 6   student_gender         3587 non-null   int32
 7   student_raceethnicity  3587 non-null   object
dtypes: datetime64[ns](1), float64(1), int32(4), object(2)
memory usage: 168.3+ KB
None

,student_studentnumber,high_school_grad_date,graduated_college,cohort,ce_student,sch_name,student_gender,student_raceethnicity
0,25795,2015-05-30,0.0,2015,0,Rock Creek Youth Center,1,Black or African American
1,10860,2021-05-05,0.0,2021,0,Rock Creek Youth Center,1,Two or More Races
2,86820,2023-05-12,0.0,2023,0,Evergreen Virtual Academy,1,Hispanic
3,64886,2021-05-19,NaN,2021,0,Evergreen Virtual Academy,0,White
4,16265,2016-05-28,NaN,2016,0,Evergreen Virtual Academy,1,Two or More Races

In [10]:
# Special Education
df['activeenrollment_specialedstatus'] = np.random.choice([0, 1], num_records, p=[3329/3587, 258/3587])
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3587 entries, 0 to 3586
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   student_studentnumber             3587 non-null   int32
 1   high_school_grad_date             3587 non-null   datetime64[ns]
 2   graduated_college                 1928 non-null   float64
 3   cohort                            3587 non-null   int32
 4   ce_student                        3587 non-null   int32
 5   sch_name                          3587 non-null   object
 6   student_gender                    3587 non-null   int32
 7   student_raceethnicity             3587 non-null   object
 8   activeenrollment_specialedstatus  3587 non-null   int32
dtypes: datetime64[ns](1), float64(1), int32(5), object(2)
memory usage: 182.3+ KB
None

,student_studentnumber,high_school_grad_date,graduated_college,cohort,ce_student,sch_name,student_gender,student_raceethnicity,activeenrollment_specialedstatus
0,25795,2015-05-30,0.0,2015,0,Rock Creek Youth Center,1,Black or African American,0
1,10860,2021-05-05,0.0,2021,0,Rock Creek Youth Center,1,Two or More Races,0
2,86820,2023-05-12,0.0,2023,0,Evergreen Virtual Academy,1,Hispanic,0
3,64886,2021-05-19,NaN,2021,0,Evergreen Virtual Academy,0,White,0
4,16265,2016-05-28,NaN,2016,0,Evergreen Virtual Academy,1,Two or More Races,0

In [11]:
# Language Proficiency
df['customstudent_clde_languageproficiency'] = np.random.choice([0, 1], num_records, p=[3025/3587, 562/3587])
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3587 entries, 0 to 3586
Data columns (total 10 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   student_studentnumber                   3587 non-null   int32
 1   high_school_grad_date                   3587 non-null   datetime64[ns]
 2   graduated_college                       1928 non-null   float64
 3   cohort                                  3587 non-null   int32
 4   ce_student                              3587 non-null   int32
 5   sch_name                                3587 non-null   object
 6   student_gender                          3587 non-null   int32
 7   student_raceethnicity                   3587 non-null   object
 8   activeenrollment_specialedstatus        3587 non-null   int32
 9   customstudent_clde_languageproficiency  3587 non-null   int32
dtypes: datetime64[ns](1), float64(1), int32(6), object(2)
memory usage: 196.3+ KB
None

,student_studentnumber,high_school_grad_date,graduated_college,cohort,ce_student,sch_name,student_gender,student_raceethnicity,activeenrollment_specialedstatus,customstudent_clde_languageproficiency
0,25795,2015-05-30,0.0,2015,0,Rock Creek Youth Center,1,Black or African American,0,0
1,10860,2021-05-05,0.0,2021,0,Rock Creek Youth Center,1,Two or More Races,0,0
2,86820,2023-05-12,0.0,2023,0,Evergreen Virtual Academy,1,Hispanic,0,1
3,64886,2021-05-19,NaN,2021,0,Evergreen Virtual Academy,0,White,0,1
4,16265,2016-05-28,NaN,2016,0,Evergreen Virtual Academy,1,Two or More Races,0,0

In [12]:
# Gifted Status
df['gifted_student'] = np.random.choice([0, 1], num_records, p=[3398/3587, 189/3587])
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3587 entries, 0 to 3586
Data columns (total 11 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   student_studentnumber                   3587 non-null   int32
 1   high_school_grad_date                   3587 non-null   datetime64[ns]
 2   graduated_college                       1928 non-null   float64
 3   cohort                                  3587 non-null   int32
 4   ce_student                              3587 non-null   int32
 5   sch_name                                3587 non-null   object
 6   student_gender                          3587 non-null   int32
 7   student_raceethnicity                   3587 non-null   object
 8   activeenrollment_specialedstatus        3587 non-null   int32
 9   customstudent_clde_languageproficiency  3587 non-null   int32
 10  gifted_student                          3587 non-null   int32
dtypes: datetime64[ns](1), float64(1), int32(7), object(2)
memory usage: 210.3+ KB
None

,student_studentnumber,high_school_grad_date,graduated_college,cohort,ce_student,sch_name,student_gender,student_raceethnicity,activeenrollment_specialedstatus,customstudent_clde_languageproficiency,gifted_student
0,25795,2015-05-30,0.0,2015,0,Rock Creek Youth Center,1,Black or African American,0,0,0
1,10860,2021-05-05,0.0,2021,0,Rock Creek Youth Center,1,Two or More Races,0,0,0
2,86820,2023-05-12,0.0,2023,0,Evergreen Virtual Academy,1,Hispanic,0,1,0
3,64886,2021-05-19,NaN,2021,0,Evergreen Virtual Academy,0,White,0,1,0
4,16265,2016-05-28,NaN,2016,0,Evergreen Virtual Academy,1,Two or More Races,0,0,0

# Generate Separate List of Colleges, States, Public vs. Private, and Program (2-Year vs. 4-Year)

In [13]:
# Generate 20 unique fake college names
prefixes = ["Western", "Northern", "Southern", "Eastern", "Central", "Great Lakes", 
            "Rocky Mountain", "Pacific", "Midwest", "Lakeshore", "Blue Ridge", "Sunset"]
suffixes = ["University", "College", "Institute", "Academy", "State University", 
            "Polytechnic", "Technology Institute", "Conservatory"]

fake_colleges = list(set(f"{random.choice(prefixes)} {random.choice(suffixes)}" for _ in range(20)))

# Define states and their corresponding frequencies
states = ["CO", "AZ", "KS", "TX", "CA", "FL", "NM", "MD", "IA", "IL", "VA"]
state_probs = [1578, 28, 25, 25, 23, 21, 16, 14, 12, 9, 8]

# Normalize probabilities to sum to 1
state_probs = np.array(state_probs) / sum(state_probs)

# Randomly assign attributes to each college
college_data = []
for college in fake_colleges:
    state = np.random.choice(states, p=state_probs)
    public_private = np.random.choice(["Public", "Private"], p=[0.9, 0.1])  # 90% public, 10% private
    two_four_year = np.random.choice(["2-year", "4-year"], p=[0.55, 0.45])  # Approximate real-world distribution
    college_data.append([college, state, public_private, two_four_year])

# Convert to DataFrame
college_df = pd.DataFrame(college_data, columns=["college_name", "state", "public_private", "two_four_year"])
college_df.head()

                          college_name state public_private two_four_year
0         Central Technology Institute    CO         Public        2-year
1                     Sunset Institute    CO         Public        4-year
2  Rocky Mountain Technology Institute    CO         Public        2-year
3                   Western University    CO         Public        4-year
4                   Northern Institute    CO         Public        2-year

In [14]:
# Generate First_enrollment_begin

In [15]:
# Apply to approximately half of rows and only cases in which graduated_college is 1.0
# Define year range
years = np.arange(2015, 2025)  # Covers 2015-2024

# Generate possible August and January enrollment dates
august_dates = [pd.Timestamp(f"{year}-08-{day}") for year in years for day in range(10, 26)]  # Aug 10-25
january_dates = [pd.Timestamp(f"{year}-01-{day}") for year in years for day in range(10, 21)]  # Jan 10-20

# Combine all possible enrollment dates
enrollment_dates = august_dates + january_dates

# Ensure reasonable weighting (80% August, 20% January)
weights = [0.8 / len(august_dates)] * len(august_dates) + [0.2 / len(january_dates)] * len(january_dates)

# Generate first enrollment dates
df['first_enrollment_begin'] = np.random.choice(enrollment_dates, num_records, p=weights)

# Set approximately half of 'first_enrollment_end' to null, but only where 'graduated_college' is NOT 1.0
mask = (df['graduated_college'] != 1.0) & (np.random.rand(len(df)) < 0.5)
df.loc[mask, 'first_enrollment_begin'] = None

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3587 entries, 0 to 3586
Data columns (total 12 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   student_studentnumber                   3587 non-null   int32
 1   high_school_grad_date                   3587 non-null   datetime64[ns]
 2   graduated_college                       1928 non-null   float64
 3   cohort                                  3587 non-null   int32
 4   ce_student                              3587 non-null   int32
 5   sch_name                                3587 non-null   object
 6   student_gender                          3587 non-null   int32
 7   student_raceethnicity                   3587 non-null   object
 8   activeenrollment_specialedstatus        3587 non-null   int32
 9   customstudent_clde_languageproficiency  3587 non-null   int32
 10  gifted_student                          3587 non-null   int32
 11  first_enrollment_begin                  1981 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int32(7), object(2)
memory usage: 238.3+ KB

In [16]:
# Generate first enrollment end date correctly
def get_random_may_date(start_date):
    if start_date.month == 1:  # January enrollment
        may_year = start_date.year  # Same year
    else:  # August enrollment
        may_year = start_date.year + 1  # Next year

    may_dates = pd.date_range(start=f"{may_year}-05-01", end=f"{may_year}-05-31")
    return np.random.choice(may_dates)

# Apply function only when 'first_enrollment_begin' is not null
df['first_enrollment_end'] = df['first_enrollment_begin'].apply(
    lambda x: get_random_may_date(x) if pd.notna(x) else pd.NaT
)

print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3587 entries, 0 to 3586
Data columns (total 13 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   student_studentnumber                   3587 non-null   int32
 1   high_school_grad_date                   3587 non-null   datetime64[ns]
 2   graduated_college                       1928 non-null   float64
 3   cohort                                  3587 non-null   int32
 4   ce_student                              3587 non-null   int32
 5   sch_name                                3587 non-null   object
 6   student_gender                          3587 non-null   int32
 7   student_raceethnicity                   3587 non-null   object
 8   activeenrollment_specialedstatus        3587 non-null   int32
 9   customstudent_clde_languageproficiency  3587 non-null   int32
 10  gifted_student                          3587 non-null   int32
 11  first_enrollment_begin                  1981 non-null   datetime64[ns]
 12  first_enrollment_end                    1981 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(1), int32(7), object(2)
memory usage: 266.3+ KB
None

,student_studentnumber,high_school_grad_date,graduated_college,cohort,ce_student,sch_name,student_gender,student_raceethnicity,activeenrollment_specialedstatus,customstudent_clde_languageproficiency,gifted_student,first_enrollment_begin,first_enrollment_end
0,25795,2015-05-30,0.0,2015,0,Rock Creek Youth Center,1,Black or African American,0,0,0,NaT,NaT
1,10860,2021-05-05,0.0,2021,0,Rock Creek Youth Center,1,Two or More Races,0,0,0,NaT,NaT
2,86820,2023-05-12,0.0,2023,0,Evergreen Virtual Academy,1,Hispanic,0,1,0,2023-08-15,2024-05-19
3,64886,2021-05-19,NaN,2021,0,Evergreen Virtual Academy,0,White,0,1,0,2020-01-10,2020-05-04
4,16265,2016-05-28,NaN,2016,0,Evergreen Virtual Academy,1,Two or More Races,0,0,0,2021-08-23,2022-05-19

In [17]:
# Define the maximum allowed last enrollment date
max_last_enrollment_date = pd.Timestamp("2024-10-28")

# Function to generate last_enrollment_begin
def get_last_enrollment_begin(start_date):
    max_years_to_add = min(6, 2024 - start_date.year)  # Ensure we don't exceed 2024
    years_to_add = np.random.randint(0, max_years_to_add + 1)  # Random years to add
    last_enrollment = start_date + pd.DateOffset(years=years_to_add)

    # Ensure last_enrollment does not exceed max allowed date
    if last_enrollment > max_last_enrollment_date:
        last_enrollment = pd.Timestamp(np.random.choice(pd.date_range(start=start_date, end=max_last_enrollment_date)))
    
    return last_enrollment

# Apply function only when 'first_enrollment_begin' is not null
df['last_enrollment_begin'] = df['first_enrollment_begin'].apply(
    lambda x: get_last_enrollment_begin(x) if pd.notna(x) else pd.NaT
)
# Preview the data
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3587 entries, 0 to 3586
Data columns (total 14 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   student_studentnumber                   3587 non-null   int32
 1   high_school_grad_date                   3587 non-null   datetime64[ns]
 2   graduated_college                       1928 non-null   float64
 3   cohort                                  3587 non-null   int32
 4   ce_student                              3587 non-null   int32
 5   sch_name                                3587 non-null   object
 6   student_gender                          3587 non-null   int32
 7   student_raceethnicity                   3587 non-null   object
 8   activeenrollment_specialedstatus        3587 non-null   int32
 9   customstudent_clde_languageproficiency  3587 non-null   int32
 10  gifted_student                          3587 non-null   int32
 11  first_enrollment_begin                  1981 non-null   datetime64[ns]
 12  first_enrollment_end                    1981 non-null   datetime64[ns]
 13  last_enrollment_begin                   1981 non-null   datetime64[ns]
dtypes: datetime64[ns](4), float64(1), int32(7), object(2)
memory usage: 294.4+ KB
None

,student_studentnumber,high_school_grad_date,graduated_college,cohort,ce_student,sch_name,student_gender,student_raceethnicity,activeenrollment_specialedstatus,customstudent_clde_languageproficiency,gifted_student,first_enrollment_begin,first_enrollment_end,last_enrollment_begin
0,25795,2015-05-30,0.0,2015,0,Rock Creek Youth Center,1,Black or African American,0,0,0,NaT,NaT,NaT
1,10860,2021-05-05,0.0,2021,0,Rock Creek Youth Center,1,Two or More Races,0,0,0,NaT,NaT,NaT
2,86820,2023-05-12,0.0,2023,0,Evergreen Virtual Academy,1,Hispanic,0,1,0,2023-08-15,2024-05-19,2024-08-15
3,64886,2021-05-19,NaN,2021,0,Evergreen Virtual Academy,0,White,0,1,0,2020-01-10,2020-05-04,2023-01-10
4,16265,2016-05-28,NaN,2016,0,Evergreen Virtual Academy,1,Two or More Races,0,0,0,2021-08-23,2022-05-19,2021-08-23

In [18]:
# Generate last_enrollment_end based on last_enrollment_begin
df['last_enrollment_end'] = df.apply(
    lambda row: (
        row['first_enrollment_end']
        if pd.notna(row['first_enrollment_begin']) and row['first_enrollment_begin'] == row['last_enrollment_begin']
        else get_random_may_date(row['last_enrollment_begin'])
        if pd.notna(row['first_enrollment_begin']) and pd.notna(row['last_enrollment_begin'])
        else pd.NaT
    ),
    axis=1
)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3587 entries, 0 to 3586
Data columns (total 15 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   student_studentnumber                   3587 non-null   int32
 1   high_school_grad_date                   3587 non-null   datetime64[ns]
 2   graduated_college                       1928 non-null   float64
 3   cohort                                  3587 non-null   int32
 4   ce_student                              3587 non-null   int32
 5   sch_name                                3587 non-null   object
 6   student_gender                          3587 non-null   int32
 7   student_raceethnicity                   3587 non-null   object
 8   activeenrollment_specialedstatus        3587 non-null   int32
 9   customstudent_clde_languageproficiency  3587 non-null   int32
 10  gifted_student                          3587 non-null   int32
 11  first_enrollment_begin                  1981 non-null   datetime64[ns]
 12  first_enrollment_end                    1981 non-null   datetime64[ns]
 13  last_enrollment_begin                   1981 non-null   datetime64[ns]
 14  last_enrollment_end                     1981 non-null   datetime64[ns]
dtypes: datetime64[ns](5), float64(1), int32(7), object(2)
memory usage: 322.4+ KB

In [19]:
# Sample college rows for each student
random_indices = np.random.choice(college_df.index, num_records, replace=True)

# Assign values from college_df to df
df['first_college_name'] = college_df.loc[random_indices, 'college_name'].values
df['first_college_state'] = college_df.loc[random_indices, 'state'].values
df['first_public_private'] = college_df.loc[random_indices, 'public_private'].values
df['first_two_four_year'] = college_df.loc[random_indices, 'two_four_year'].values

# Print results
df.head()

,student_studentnumber,high_school_grad_date,graduated_college,cohort,ce_student,sch_name,student_gender,student_raceethnicity,activeenrollment_specialedstatus,customstudent_clde_languageproficiency,gifted_student,first_enrollment_begin,first_enrollment_end,last_enrollment_begin,last_enrollment_end,first_college_name,first_college_state,first_public_private,first_two_four_year
0,25795,2015-05-30,0.0,2015,0,Rock Creek Youth Center,1,Black or African American,0,0,0,NaT,NaT,NaT,NaT,Western Institute,CO,Public,2-year
1,10860,2021-05-05,0.0,2021,0,Rock Creek Youth Center,1,Two or More Races,0,0,0,NaT,NaT,NaT,NaT,Sunset Technology Institute,CO,Public,2-year
2,86820,2023-05-12,0.0,2023,0,Evergreen Virtual Academy,1,Hispanic,0,1,0,2023-08-15,2024-05-19,2024-08-15,2025-05-15,Midwest College,CO,Public,2-year
3,64886,2021-05-19,NaN,2021,0,Evergreen Virtual Academy,0,White,0,1,0,2020-01-10,2020-05-04,2023-01-10,2023-05-12,Northern Institute,CO,Public,2-year
4,16265,2016-05-28,NaN,2016,0,Evergreen Virtual Academy,1,Two or More Races,0,0,0,2021-08-23,2022-05-19,2021-08-23,2022-05-19,Rocky Mountain Polytechnic,CO,Public,2-year

In [20]:
# Sample college rows for each student
random_indices = np.random.choice(college_df.index, num_records, replace=True)

# Assign values from college_df to df (First College)
df['first_college_name'] = college_df.loc[random_indices, 'college_name'].values
df['first_college_state'] = college_df.loc[random_indices, 'state'].values
df['first_public_private'] = college_df.loc[random_indices, 'public_private'].values
df['first_two_four_year'] = college_df.loc[random_indices, 'two_four_year'].values

# Create a mask where 75% of students keep the same college
same_college_mask = np.random.rand(num_records) < 0.75  # 75% True, 25% False

# Initialize last_college_ columns as a copy of first_college_ (for the 75% group)
df['last_college_name'] = df['first_college_name']
df['last_college_state'] = df['first_college_state']
df['last_public_private'] = df['first_public_private']
df['last_two_four_year'] = df['first_two_four_year']

# Find students who need a new college (25% group)
new_college_indices = np.random.choice(college_df.index, size=(~same_college_mask).sum(), replace=True)

# Assign new colleges for the 25% group
df.loc[~same_college_mask, 'last_college_name'] = college_df.loc[new_college_indices, 'college_name'].values
df.loc[~same_college_mask, 'last_college_state'] = college_df.loc[new_college_indices, 'state'].values
df.loc[~same_college_mask, 'last_public_private'] = college_df.loc[new_college_indices, 'public_private'].values
df.loc[~same_college_mask, 'last_two_four_year'] = college_df.loc[new_college_indices, 'two_four_year'].values

# Print results
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3587 entries, 0 to 3586
Data columns (total 23 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   student_studentnumber                   3587 non-null   int32
 1   high_school_grad_date                   3587 non-null   datetime64[ns]
 2   graduated_college                       1928 non-null   float64
 3   cohort                                  3587 non-null   int32
 4   ce_student                              3587 non-null   int32
 5   sch_name                                3587 non-null   object
 6   student_gender                          3587 non-null   int32
 7   student_raceethnicity                   3587 non-null   object
 8   activeenrollment_specialedstatus        3587 non-null   int32
 9   customstudent_clde_languageproficiency  3587 non-null   int32
 10  gifted_student                          3587 non-null   int32
 11  first_enrollment_begin                  1981 non-null   datetime64[ns]
 12  first_enrollment_end                    1981 non-null   datetime64[ns]
 13  last_enrollment_begin                   1981 non-null   datetime64[ns]
 14  last_enrollment_end                     1981 non-null   datetime64[ns]
 15  first_college_name                      3587 non-null   object
 16  first_college_state                     3587 non-null   object
 17  first_public_private                    3587 non-null   object
 18  first_two_four_year                     3587 non-null   object
 19  last_college_name                       3587 non-null   object
 20  last_college_state                      3587 non-null   object
 21  last_public_private                     3587 non-null   object
 22  last_two_four_year                      3587 non-null   object
dtypes: datetime64[ns](5), float64(1), int32(7), object(10)
memory usage: 546.6+ KB

# Generate College Graduation Date

In [21]:
# Function to generate a random graduation date
def random_graduation_date(high_school_grad_date):
    if pd.isna(high_school_grad_date):
        return None

    start_date = high_school_grad_date + timedelta(days=1)
    end_date = high_school_grad_date + timedelta(days=7*365)

    # Generate random May or December date within the range
    possible_dates = pd.date_range(start=start_date, end=end_date, freq='ME')
    may_dec_dates = [date for date in possible_dates if date.month in [5, 12]]

    return np.random.choice(may_dec_dates) if may_dec_dates else None

# Apply function conditionally
df['first_graduation_date'] = df.apply(
    lambda row: random_graduation_date(row['high_school_grad_date']) if row['graduated_college'] == 1.0 else None,
    axis=1
)

# Indicate Enrolled Immediately After

In [22]:
df['enroll_before_hs_grad_or_within_one_year'] = np.where(
    ((df['first_enrollment_begin'] - df['high_school_grad_date']).dt.days.abs() <= 365) |
    (df['first_enrollment_begin'] < df['high_school_grad_date']), 
    1, 0) # 1, otherwise, 0
df['enroll_before_hs_grad_or_within_one_year'].value_counts(dropna=False)

enroll_before_hs_grad_or_within_one_year
0    2469
1    1118
Name: count, dtype: int64

# Indicate Eventually Enrolled

In [23]:
df['eventually_enrolled'] = np.where(df['first_enrollment_begin'].notna(), 1, 0)
print(f"Not NA: {df['first_enrollment_begin'].notna().sum()}")
print(f"NA: {df['first_enrollment_begin'].isna().sum()}")
df['eventually_enrolled'].value_counts(dropna=False)

Not NA: 1981
NA: 1606

eventually_enrolled
1    1981
0    1606
Name: count, dtype: int64

In [24]:
df.head()

,student_studentnumber,high_school_grad_date,graduated_college,cohort,ce_student,sch_name,student_gender,student_raceethnicity,activeenrollment_specialedstatus,customstudent_clde_languageproficiency,gifted_student,first_enrollment_begin,first_enrollment_end,last_enrollment_begin,last_enrollment_end,first_college_name,first_college_state,first_public_private,first_two_four_year,last_college_name,last_college_state,last_public_private,last_two_four_year,first_graduation_date,enroll_before_hs_grad_or_within_one_year,eventually_enrolled
0,25795,2015-05-30,0.0,2015,0,Rock Creek Youth Center,1,Black or African American,0,0,0,NaT,NaT,NaT,NaT,Western State University,CO,Public,2-year,Western State University,CO,Public,2-year,NaT,0,0
1,10860,2021-05-05,0.0,2021,0,Rock Creek Youth Center,1,Two or More Races,0,0,0,NaT,NaT,NaT,NaT,Western Institute,CO,Public,2-year,Southern Institute,CO,Public,2-year,NaT,0,0
2,86820,2023-05-12,0.0,2023,0,Evergreen Virtual Academy,1,Hispanic,0,1,0,2023-08-15,2024-05-19,2024-08-15,2025-05-15,Western Technology Institute,CO,Private,2-year,Western University,CO,Public,4-year,NaT,1,1
3,64886,2021-05-19,NaN,2021,0,Evergreen Virtual Academy,0,White,0,1,0,2020-01-10,2020-05-04,2023-01-10,2023-05-12,Western Institute,CO,Public,2-year,Western Institute,CO,Public,2-year,NaT,1,1
4,16265,2016-05-28,NaN,2016,0,Evergreen Virtual Academy,1,Two or More Races,0,0,0,2021-08-23,2022-05-19,2021-08-23,2022-05-19,Western State University,CO,Public,2-year,Western State University,CO,Public,2-year,NaT,0,1